body{
    background-color: #cccccc;
}
.audit_pass_details{
    width: 1100px;
    margin:0 auto;
    margin-top:-3px;
}
div.audit_pass_details_menu_left{
    width: 160px;
    height: 510px;
    background-color: white;
    float: left;
}
div.audit_pass_details_menu_left div{
    display: inline-block;
    padding: 32px 0 0 32px;
    font: normal  16px  "Î¢ÈíÑÅºÚ";
}
.audit_pass_details_menu_left a{
    text-decoration: none;
    color: #333333;
}
.audit_pass_details_menu_left a:hover{
    color: #3366cc;
}

.audit_pass_details_menu_left  .audit_pass_details_menu_left_six a{
    font-weight: bold ;
    color: #3366cc;
}
.audit_pass_details_menu_right{
    width: 940px;
    height:1200px;
    float:left;
    background-color: #f1f1f1;
}
.audit_pass_details_navigation{
    width: 940px;
    height: 80px;
    float: left;
}
.audit_pass_details_navigation img{
    margin: 31px 32px 31px 32px;
    vertical-align: middle;
}
.audit_pass_details_navigation_title{
    font-family: "Î¢ÈíÑÅºÚ";
    font-size: 16px;
    color: #333333;
    padding: 32px 20px 32px 20px;
}
.audit_pass_details_navigation_log{
    font-family: "Î¢ÈíÑÅºÚ";
    font-size: 16px;
    padding: 32px 20px 32px 20px;
    margin-left: 400px;
}
.audit_pass_details_navigation_log a{
    text-decoration: none;
    color: #3366cc;
}
.audit_pass_details_navigation_log a:hover{
    color: #333333;
}
.audit_pass_details_content{
    width: 631px;
    height: 400px;
    float: left;
    margin-left: 94px;
}
.audit_pass_details_content_table{
    width: 631px;
    height: 259px;
    background-image: url("../images/audit_pass_details/table-bg.png");
    background-repeat: no-repeat;
}
.audit_pass_details_content_table_left{
    width: 150px;
    height: 264px;
    float: left;
}
.audit_pass_details_content_table_left,.audit_pass_details_content_table_middle,.audit_pass_details_content_table_right div{
    width: 150px;
    text-align: center;
    display: inline-block;
    font-family: "Î¢ÈíÑÅºÚ";
    font-size: 12px;
    color: #333333;
}
.audit_pass_details_content_table_left_one{
    margin-top: 14px;
}
.audit_pass_details_content_table_left_two{
    margin-top:26px;
}
.audit_pass_details_content_table_middle{
    width: 360px;
    height: 264px;
    float: left;
}
.audit_pass_details_content_table_middle_one{
    margin-top: 14px;
}
.audit_pass_details_content_table_middle_two{
    margin-top:26px;
}
.audit_pass_details_content_table_right{
    width: 121px;
    height: 264px;
    float: left;
}
.audit_pass_details_content_table_right_one{
    width: 16px;
    height: 16px;
    margin-top: 14px;
    background-image: url("../images/audit_pass_details/blue%20matching.png");
    background-repeat: no-repeat;
    background-position: center ;
}
.audit_pass_details_content_table_right_two{
    margin-top:23px;
    width: 16px;
    height: 16px;
    background-image: url("../images/audit_pass_details/blue%20matching.png");
    background-repeat: no-repeat;
    background-position: center ;
}
.audit_pass_details_content_license{
    width: 631px;
    height: 245px;
}
.audit_pass_details_content_license_title{
    width: 631px;
    font-family: "Î¢ÈíÑÅºÚ";
    font-size: 16px;
    color: #333333;
    margin-top:16px;
    display: inline-block;
}
.audit_pass_details_content_license_images{
    margin-top: 16px;
}
.audit_pass_details_content_data {
    width: 631px;
    height: 448px;
    margin-top: 16px;
}
.audit_pass_details_content_data_title{
    width: 631px;
    font-family: "Î¢ÈíÑÅºÚ";
    font-size: 16px;
    color: #333333;
    margin-top:16px;
    display: inline-block;
}
.audit_pass_details_content_data_images{
    width: 631px;
    height: 396px;
    margin-top: 16px;
}
.audit_pass_details_content_data_images div{
    float: left;
    display: inline-block;
}
.audit_pass_details_content_license_images_two{
    margin-left: 16px;
}
.audit_pass_details_content_license_images_three{
    margin-top: 16px;
}

.audit_pass_details_content_choose{
    width: 631px;
    height: 32px;
    margin-top:48px;
}

.audit_pass_details_content_choose_submit{
    background-color: #3366cc;
    border-radius: 5px;
    font-family: "Î¢ÈíÑÅºÚ";
    font-size: 14px;
    color: white;
    padding: 10px 34px 10px 34px;
    text-decoration: none;
    display: inline-block;
    float:right;
}
.audit_pass_details_content_choose_submit:hover{
    background-color: #6699cc;
}
.audit_news a{
    text-decoration:none ;
    display: inline-block;
    padding: 10px 0;

    position: absolute; top:27px; right: 500px;
}