body{
    background-color: #cccccc;
}
iframe{
    position: relative;
    top: 2px;
}
div.audit_manage{
    width: 1100px;
    height: 510px;
    margin: 0 auto;
    background-color: #f1f1f1;
}
div.audit_manage a{
    text-decoration: none;
}

div.audit_manage_menu_left{
    width: 160px;
    height: 510px;
    background-color: white;
    float: left;
}
div.audit_manage_menu_left div{
    display: inline-block;
    padding: 32px 0 0 32px;
    font: normal  16px  "Î¢ÈíÑÅºÚ";

}
.audit_manage_menu_left a{
    text-decoration: none;
    color: #333333;
}
.audit_manage_menu_left_six a {
    font-weight: bold ;
    color: #3366cc;
}
.audit_manage_menu_left_one a:hover{
    color: #3366cc;
}
.audit_manage_menu_left_two a:hover{
    color: #3366cc;
}
.audit_manage_menu_left_three a:hover{
    color: #3366cc;
}
.audit_manage_menu_left_four a:hover{
    color: #3366cc;
}
.audit_manage_menu_left_five a:hover{
    color: #3366cc;
}
div.audit_manage_menu_right{
    float: left;
}
div.audit_manage_list{

    overflow: hidden;
}
div.audit_manage_list .all{
    display: inline-block;
    padding: 9px  40px  9px  16px;
    background-color: #3366cc;
    border-radius: 5px;
    font: normal  14px "Î¢ÈíÑÅºÚ";
    color: white;
    margin-top: 24px;
    margin-left: 32px;
    background-image: url("../images/audit_manage/selecet.png");
    background-repeat: no-repeat;
    background-position: 88px 10px;
}
div.audit_manage_list_hidden {

    width: 110px;
    height: 122px;
    background-color: white;
    border-radius: 5px;
    box-shadow:  0 1px 10px #cccccc;
    position: absolute;
    margin-left: -111px;
    margin-top: 58px;
    display: none;
}
div.audit_manage_list_hidden a {
    font: normal  14px "Î¢ÈíÑÅºÚ";
    color: #333333;
    float: left;
    display: inline-block;
    padding: 16px 0 0 16px;
}
div.audit_manage_list:hover div.audit_manage_list_hidden{
    display: inline-block;
}
div.audit_manage_list_hidden a:hover{
    color: #3366cc;
}
div.audit_manage_date{
    margin-top: 24px;
}
div.audit_manage_date .audit_manage_date_one{
    font: normal 16px "Î¢ÈíÑÅºÚ";
    color: #333333;
}
div.audit_manage_date input{
    font: normal 12px "Î¢ÈíÑÅºÚ";
    display: inline-block;
    padding: 8px 0 8px 20px;
    border: 1px solid #999999;
    border-radius: 5px;
    margin-left: 8px;
}
form{

    display: inline-block;
}
.audit_manage_date_one{
    margin-left: 32px;

}
.audit_manage_date_two{
    margin-left: 32px;

}

div.audit_manage_table{
    width: 876px;
    height: 350px;
    background-color: white;
    border-radius: 10px;
    margin-left: 32px;
    margin-top: 20px;
    float: left;
}
div.audit_manage_table_one {
    display: inline-block;
    width: 102px;
    font: normal 12px "Î¢ÈíÑÅºÚ";
    color: #333333;
    margin-left: 32px;
    float: left;
}
.audit_manage_header{
    margin-top: 28px;
    font: bold 14px "Î¢ÈíÑÅºÚ";
    color: #333333;
}
div.audit_manage_table_one div{
    margin-top: 28px;
}
div.audit_manage_table_two{
    display: inline-block;
    width: 112px;
    font: normal 12px "Î¢ÈíÑÅºÚ";
    color: #3366cc;
    margin-left: 32px;
    float: left;
}
div.audit_manage_table_two div{
    margin-top: 28px;}
div.audit_manage_table_three {
    display: inline-block;
    width: 132px;
    font: normal 12px "Î¢ÈíÑÅºÚ";
    color: #333333;
    margin-left: 32px;
    float: left;
}
div.audit_manage_table_three div{
    margin-top: 28px;
}
div.audit_manage_table_four {
    display: inline-block;
    width: 102px;
    font: normal 12px "Î¢ÈíÑÅºÚ";
    color: #333333;
    margin-left: 32px;
    float: left;
}
div.audit_manage_table_four a{
    text-decoration: none;
    color: #333333;
}
div.audit_manage_table_four div:hover a{
    color: #3366cc;
}
div.audit_manage_table_four div{
    margin-top: 28px;
}
div.audit_manage_page{
    width: 900px;
    margin-top: 48px;
    margin-right: 32px;
    float: left;
    text-align: center;
}
.audit_manage_number{
    font:normal 12px "Î¢ÈíÑÅºÚ";
    color: #999999;
    float: left;
    margin-left: 32px;
    margin-right: 120px;
    padding: 4px 8px;

}
.audit_manage_flip{
    display: inline-block;
    border-radius: 5px;
    background-color: white;
    border: 1px solid  #cccccc;
    width: 24px;
    height: 24px;
    font: normal  12px "Î¢ÈíÑÅºÚ";
    color: #999999;
    line-height: 24px;
    float: left;
    margin-left: 8px;
}
.audit_manage_flip:hover{
    background-color: #cccccc;
}
.audit_manage_flip_four{
    display: inline-block;
    border-radius: 5px;
    background-color: #3366cc;
    border: none;
    width: 24px;
    height: 24px;
    font: normal  12px "Î¢ÈíÑÅºÚ";
    color: white;
    line-height: 24px;
    float: left;
    margin-left: 8px;
}
.audit_manage_flip img{
    display: inline-block;
    margin-top: 5px;
}
.audit_manage_flip_one{
    display: inline-block;
    border-radius: 5px;
    background-color: white;
    border: 1px solid  #cccccc;
    height: 24px;
    padding: 0 8px;
    font: normal  12px "Î¢ÈíÑÅºÚ";
    color: #999999;
    line-height: 24px;
    float: left;
    margin-left: 8px;
}
.audit_manage_flip_two{
    font:normal 12px "Î¢ÈíÑÅºÚ";
    color: #999999;
    float: left;
    padding: 4px 8px;

}
.audit_manage_flip_three{
    display: inline-block;
    border-radius: 5px;
    background-color: white;
    border: 1px solid  #cccccc;
    height: 24px;
    padding: 0 8px;
    font: normal  12px "Î¢ÈíÑÅºÚ";
    color: #999999;
    line-height: 24px;
    float: left;
}
.audit_news a{
    text-decoration:none ;
    display: inline-block;
    padding: 10px 0;

    position: absolute; top:27px; right: 500px;
}