body{
    background-color: #cccccc;
}
div.menu{
    margin-top:-4px;
}
div.level{
    width: 1100px;
    height: 510px;
    margin: 0 auto;
    background-color: #f1f1f1;
}
div.menu_left{
    width: 160px;
    height: 510px;
    background-color: white;
    float: left;
}
div.menu_left div{
    display: inline-block;
    padding: 32px 0 0 32px;
    font: normal  16px  "Î¢ÈíÑÅºÚ";
}
.menu_left a{
    text-decoration: none;
    color: #333333;
}
.menu_left a:hover{
    color:#3366cc;
}
.menu_left_five a{
    color: #3366cc;
    font-weight: bold;
}
.level_navigation{
    width: 940px;
    height:80px;
    float:right;
}
.level_navigation_details{
    margin-top:32px;
    margin-left:32px;
}
.level_navigation_new{
    color:#ffffff;
    text-align:center;
    line-height:30px;
    float:right;
    width:80px;
    height:32px;
    background-color:#3366cc;
    border-radius: 5px;
    margin-right:20px;
    margin-top:-12px;
    text-decoration: none;
}
.level_navigation_new:hover{
    background-color: #3399cc;
    color:black;
}
.level_content{
    width:888px;
    height:255px;
    border:solid 1px #333333;
    float:left;
    margin-left:32px;
    margin-top:32px;
}
.level_contentone{
    background-color:#333333;
    width:888px;
    height:1px;
    margin-top:102px;
}
.level_contenttow{
    background-color:#333333;
    width:888px;
    height:1px;
    margin-top:74px;
}
.level_contentthree{
    background-color:#333333;
    width:1px;
    height:255px;
    margin-top:-190px;
    float:left;
    margin-left:130px;
}
.level_contentfour{
    background-color:#333333;
    width:1px;
    height:255px;
    margin-top:-190px;
    float:left;
    margin-left:140px;
}
.level_contentfive{
    background-color:#333333;
    width:1px;
    height:255px;
    margin-top:-190px;
    float:left;
    margin-left:96px;
}
.level_contentfive_messages{
    float:left;
    margin-top:-222px;
    margin-left:33px;
}
.messages span{
    color:#333333;
    font: 16px "Î¢ÈíÑÅºÚ";
}
.level_contentfive_messagestow{
    margin-left:72px;
}
.level_contentfive_messagesthree{
    margin-left:60px;
}
.level_contentfive_messagesfour{
    margin-left:59px;
}
.level_contentfive_messagesfive{
    margin-left:61px;
}
.level_contentfive_messagessix{
    margin-left:44px;
}
.level_contentfive_messagesseven{
    margin-left:54px;
}
.level_contentfive_messageseight{
    margin-left:80px;
    text-decoration: none;
}
.level_typefive{
    margin-left:80px;
    text-decoration: none;
    border:none;
    background-color: transparent;
}
select:focus{
    outline: none;
    border: none;
}
.level_typesix{
    margin-left:83px;
    text-decoration: none;
    border:none;
    background-color: transparent;
}
.level_typeseven{
    margin-left:71px;
    text-decoration: none;
    border:none;
    background-color: transparent;
}
.level_contentfive_messageseleven{
    margin-left:92px;
}
.level_contentfive_messageseighteen{
    margin-left:83px;
}
.level_contentfive_messagestwelve{
    margin-left:87px;
    text-decoration: none;
    color:#333333;
}
.level_contentfive_messagesnineteen{
    margin-left:80px;
    text-decoration: none;
    color:#333333;
}
.level_contentfive_messagesthirteen{
    margin-left:54px;
    text-decoration: none;
}
.level_contentfive_messagesafter{
    margin-top:75px;
}
.level_contentfive_messagesAfter{
    margin-top:62px;
}
.audit_news a{
    text-decoration:none ;
    display: inline-block;
    padding: 10px 0;

    position: absolute; top:27px; right: 500px;
}